table {
    border: 1px solid rgb(104, 102, 102);
    width: 100%;
    border-radius: 2px;
    height: 45vh;
    /* display: flex; */
    
}

.suivant_liste{
    background-color: rgb(24, 212, 150);
    border-radius: 2px;
    border: none;
    float: right;
    color: white;
}
